@import '../../index.css';

.containermain {
    display: flex;
    justify-content: center;
}

.home{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid var(--clr-primary-400);
    border-radius: 7px;
    max-width: 1500px;
    padding: 30px;
    gap: 20px;
    margin-top: 20px;

}

.icons {
    display: flex;
    gap: 10px;
    & > *{
        width: 30px;
    }
}
.hello, .name {
    margin: 0;
}